* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    .line {
        --hue: 171;
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        overflow: hidden;
        position: relative;
        background: #212121;
        border-bottom: 3px solid hsla(170, 100%, 100%, 0.1);

        &:last-of-type {
            border: 0;
        }

        >input[type="checkbox"] {
            appearance: none;
            opacity: 0;
        }

        .tips {
            position: absolute;
            left: 50%;
            margin-left: 85px;
            padding: .75rem 1.5rem;
            color: hsla(var(--hue), 100%, 41%, 0.35);
            border: 1px solid hsla(var(--hue), 100%, 41%, 0.35);
            border-radius: 4px;
            user-select: none;

            &::before {
                content: '';
                width: 0px;
                height: 0px;
                border: 10px solid transparent;
                border-right-color: hsla(var(--hue), 100%, 41%, 0.35);
                position: absolute;
                right: 100%;
                top: 50%;
                z-index: 1;
                transform: translateY(-50%);
            }

            &::after {
                content: '';
                width: 0px;
                height: 0px;
                border: 8px solid transparent;
                border-right-color: #212121;
                ;
                position: absolute;
                right: 100%;
                top: 50%;
                z-index: 1;
                transform: translateY(-50%);
            }
        }
    }
}

.line1 {
    .btn {
        --hue: 171;
        --ease-in-duration: 0.25s;
        --ease-in-exponential: cubic-bezier(0.95, 0.05, 0.795, 0.035);
        --ease-out-duration: 0.65s;
        --ease-out-delay: var(--ease-in-duration);
        --ease-out-exponential: cubic-bezier(0.19, 1, 0.22, 1);
        position: relative;
        z-index: 1;
        width: 140px;
        height: 60px;
        font-size: 1rem;
        line-height: 1.5;
        text-decoration: none;
        color: hsla(var(--hue), 100%, 41%, 0.5);
        border: 2px solid hsl(var(--hue), 100%, 41%);
        background-color: transparent;
        outline: transparent;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        transition: 0.25s;

        &-border-stroke {
            border-color: hsla(var(--hue), 100%, 41%, 0.5);

            .btn-borders {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .border-top {
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    width: 140px;
                    height: 2px;
                    background: hsl(var(--hue), 100%, 41%);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: var(--ease-in-duration) var(--ease-in-exponential);
                }

                .border-right {
                    position: absolute;
                    top: -2px;
                    right: -2px;
                    width: 2px;
                    height: 60px;
                    background: hsl(var(--hue), 100%, 41%);
                    transform: scaleY(0);
                    transform-origin: bottom;
                    transition: var(--ease-in-duration) var(--ease-in-exponential);
                }

                .border-bottom {
                    position: absolute;
                    bottom: -2px;
                    left: -2px;
                    width: 140px;
                    height: 2px;
                    background: hsl(var(--hue), 100%, 41%);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
                }

                .border-left {
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    width: 2px;
                    height: 60px;
                    background: hsl(var(--hue), 100%, 41%);
                    transform: scaleY(0);
                    transform-origin: bottom;
                    transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
                }
            }

            &:hover {
                .border-top {
                    transform: scaleX(1);
                    transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
                }

                .border-right {
                    transform: scaleY(1);
                    transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
                }

                .border-bottom {
                    transform: scaleX(1);
                    transition: var(--ease-in-duration) var(--ease-in-exponential);
                }

                .border-left {
                    transform: scaleY(1);
                    transition: var(--ease-in-duration) var(--ease-in-exponential);
                }
            }
        }

        &-text-up {
            &::after {
                position: absolute;
                content: attr(data-text);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transform: translateY(35%);
                transition: 0.25s ease-out;
                color: hsl(var(--hue), 100%, 41%);
            }

            .btn-text {
                display: block;
                transition: 0.75s 0.1s var(--ease-out-exponential);
            }

            &:hover {
                .btn-text {
                    opacity: 0;
                    transform: translateY(-25%);
                    transition: 0.25s ease-out;
                }

                &::after {
                    opacity: 1;
                    transform: translateY(0);
                    transition: 0.75s 0.1s var(--ease-out-exponential);
                }
            }
        }
    }
}

.line2 {
    .btn {
        --hue: 171;
        position: relative;
        width: 140px;
        height: 60px;
        font-size: 1rem;
        line-height: 1.5;
        color: white;
        text-decoration: none;
        color: hsla(var(--hue), 100%, 41%, 0.5);
        background-color: transparent;
        border: 2px solid hsla(var(--hue), 100%, 41%, 0.5);
        outline: transparent;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        transition: 0.25s;

        &-hover-shine {
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: -10px;
                width: 160px;
                height: 100%;
                background: linear-gradient(transparent,
                        hsla(var(--hue), 100%, 41%, 0.5),
                        transparent);
                transform: rotate(30deg) translate(-50px, 80px);
                transition: 0.6s;
            }

            &:hover {
                color: hsl(var(--hue), 100%, 41%);
                border: 2px solid hsl(var(--hue), 100%, 41%);
                box-shadow: 0 0 20px 10px hsla(var(--hue), 100%, 41%, 0.5);
            }

            &:hover::before {
                transform: rotate(30deg) translate(50px, -80px);
            }
        }
    }
}

.line3 {
    --hue: 171;

    #burger-toggle {
        // appearance: none;
        // opacity: 0;

        &:checked {
            &~.overlay {
                opacity: 1;
                transform: scale(130);
            }

            &~.burger-menu {
                .btn-line {
                    &:nth-child(1) {
                        transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
                    }

                    &:nth-child(2) {
                        transform: scaleX(0);
                    }

                    &:nth-child(3) {
                        transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
                    }
                }
            }
        }
    }

    .burger-menu {
        --burger-menu-radius: 4rem;
        position: relative;
        z-index: 100;
        display: block;
        width: var(--burger-menu-radius);
        height: var(--burger-menu-radius);
        background: #212121;
        border: solid 2px hsla(var(--hue), 100%, 41%, 0.15);
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        .btn-line {
            position: absolute;
            left: 25%;
            width: 50%;
            height: 3px;
            background: hsla(var(--hue), 100%, 41%, 0.35);
            border-radius: 10px;
            overflow: hidden;
            transition: all 0.5s ease;

            &:nth-child(1) {
                top: 30%;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(3) {
                top: 70%;
            }

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: hsla(var(--hue), 100%, 41%, 1);
                transform: translateX(-100%);
                transition: all 0.25s ease;
            }

            @for $i from 2 through 3 {
                &:nth-child(#{$i})::after {
                    transition-delay: 0.1s * ($i - 1);
                }
            }
        }

        &:hover {
            border-color: hsla(var(--hue), 100%, 41%, 1);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);

            .btn-line::after {
                transform: translateX(0);
            }
        }
    }

    .overlay {
        position: absolute;
        z-index: 2;
        width: 2rem;
        height: 2rem;
        background: hsla(var(--hue), 100%, 20%, 1);
        border-radius: 50%;
        opacity: 0;
        transition: 0.5s ease-in-out;
        will-change: transform;
    }
}

.line4 {
    --light-switch-radius: 3rem;
    $toggleBtnColor: #dfdfdf;
    $toggleBgColor: #111;
    $toggleShadowColor: #333;
    $toggleActiveColor: #00e0a8;

    #light-switch {
        // appearance: none;
        // opacity: 0;

        &:checked {
            &~.light {
                opacity: 1;
                transform: scale(130);
            }

            &~.light-switch-label {
                box-shadow: 0 0px 8px 0 darken($toggleActiveColor, 10%),
                    0 0 0 3px $toggleActiveColor,
                    0 0 30px 0 $toggleActiveColor,
                    0 0 0 6px lighten($toggleBgColor, 40%);

                i {
                    color: $toggleActiveColor;
                }
            }
        }
    }

    .light-switch-label {
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-radius: 50%;
        width: var(--light-switch-radius);
        height: var(--light-switch-radius);
        background-color: $toggleBtnColor;
        box-shadow: 0 5px 10px 0px $toggleShadowColor,
            0 0 0 3px lighten($toggleBgColor, 20%),
            0 0 8px 2px transparent,
            0 0 0 6px lighten($toggleBgColor, 50%);
        border: solid 2px hsla(var(--hue), 100%, 41%, 0.15);
        outline: none;
        cursor: pointer;

        i {
            font-size: 32px;
            color: #aaaaaa;
        }

        &:hover {
            i {
                color: #777777;
            }
        }
    }

    .light {
        position: absolute;
        z-index: 2;
        width: 2rem;
        height: 2rem;
        background: $toggleBtnColor;
        border-radius: 50%;
        opacity: 0;
        transition: .5s ease-in-out;
        will-change: transform;
    }
}

.line5 {}

.line6 {}