* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: rgb(29, 29, 29);
}

.tiktok-logo {
    position: absolute;
    top: 50px;
    left: 50%;
    filter: contrast(150%) brightness(110%);
    opacity: .9;

    .j {
        position: absolute;
        top: 0;
        left: 0;
        width: 47px;
        height: 218px;
        background: #24f6f0;

        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            border: 47px solid #24f6f0;
            border-top: 47px solid transparent;
            border-radius: 50%;
            top: 121px;
            left: -147px;
            transform: rotate(45deg);
        }

        &::after {
            content: "";
            position: absolute;
            width: 140px;
            height: 140px;
            border: 40px solid #24f6f0;
            border-right: 40px solid transparent;
            border-top: 40px solid transparent;
            border-left: 40px solid transparent;
            top: -110px;
            right: -183px;
            border-radius: 100%;
            transform: rotate(45deg);
        }

        &:last-child {
            left: 10px;
            top: 10px;
            background: #fe2d52;
            mix-blend-mode: lighten;
        }

        &:last-child::before {
            border: 47px solid #fe2d52;
            border-top: 47px solid transparent;
        }

        &:last-child::after {
            border: 40px solid #fe2d52;
            border-right: 40px solid transparent;
            border-top: 40px solid transparent;
            border-left: 40px solid transparent;
        }
    }
}

.amazing-css {
    margin-top: 500px;
    position: relative;
    font-size: 64px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Anton', sans-serif;
    opacity: .9;

    span {
        min-width: 400px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

        &:first-child {
            color: #fff;
            z-index: 1;
            text-shadow: -2px -2px 0 #24f6f0, 2px 2px 0 #fe2d52;
            animation: shake-horizontal 1s steps(3) infinite;
        }

        &:not(:first-child) {
            width: 100%;
            z-index: 2;

            &::before {
                content: attr(data-title);
                color: #fff;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                text-shadow: -2px -2px 0 #24f6f0, 2px 2px 0 #fe2d52;
            }
        }

        &:nth-child(2) {
            height: 30px;
            margin-left: -1px;
            animation: shake-container 1s steps(4) infinite;

            &::before {
                animation: shake-move 1s steps(4) infinite;
            }
        }

        &:nth-child(3) {
            height: 5px;
            margin-left: -2px;
            animation: shake-container 1s steps(4) infinite;
            animation-delay: 0.2s;

            &::before {
                animation: shake-move 1s steps(4) infinite;
                animation-delay: 0.2s;
            }
        }

        &:nth-child(4) {
            height: 10px;
            margin-left: -3px;
            animation: shake-container 1s steps(4) infinite;
            animation-delay: 0.1s;

            &::before {
                animation: shake-move 1s steps(4) infinite;
                animation-delay: 0.1s;
            }
        }
    }
}


@keyframes shake-horizontal {
    0% {
        margin-left: -4px;
    }

    100% {
        margin-left: 2px;
    }
}

@keyframes shake-container {
    0% {
        top: 0;
    }

    100% {
        top: 80px;
    }
}

@keyframes shake-move {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: -80px;
    }
}