* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.g-container {
  position: relative;
  width: 375px;
  height: 812px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}

.g-number {
  position: absolute;
  width: 100%;
  top: 35%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  z-index: 10;
  color: #fff;
}

.g-contrast {
  filter: contrast(15) hue-rotate(0);
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  animation: hueRotate 10s infinite linear;
}

.g-circle {
  position: relative;
  width: 300px;
  height: 300px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  box-sizing: border-box;
  filter: blur(8px);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 300px;
    height: 300px;
    background-color: #00ff6f;
    border-radius: 42% 38% 62% 49% / 45%;
    animation: rotate 10s infinite linear;
  }

  &::before {
    content: "";
    position: absolute;
    width: 270px;
    height: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #000;
    z-index: 10;
  }
}

.g-bubbles {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 40px;
  transform: translate(-50%, 0);
  border-radius: 100px 100px 0 0;
  background-color: #00ff6f;
  filter: blur(5px);
}

li {
  position: absolute;
  border-radius: 50%;
  background: #00ff6f;
}

@for $i from 0 through 15 {
  li:nth-child(#{$i}) {
    $width: 15 + random(30) + px;
    left: 15 + random(70) + px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    height: $width;
    animation: moveToTop #{random(1) + 2}s ease-in-out -#{random(3000)/1000}s infinite;
  }
}

@keyframes rotate {
  50% {
    border-radius: 45% / 42% 38% 58% 49%;
  }

  100% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
}

@keyframes moveToTop {
  90% {
    opacity: 1;
  }

  100% {
    opacity: .1;
    transform: translate(-50%, -360px);
  }
}

@keyframes hueRotate {
  100% {
    filter: contrast(15) hue-rotate(0);
  }
}