* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.g-container {
  position: relative;
  width: 375px;
  height: 812px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
}

.g-number {
  position: absolute;
  width: 100%;
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  z-index: 10;
  color: #fff;
}

.g-contrast {
  -webkit-filter: contrast(15) hue-rotate(0);
          filter: contrast(15) hue-rotate(0);
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  -webkit-animation: hueRotate 10s infinite linear;
          animation: hueRotate 10s infinite linear;
}

.g-circle {
  position: relative;
  width: 300px;
  height: 300px;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.g-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  width: 300px;
  height: 300px;
  background-color: #00ff6f;
  border-radius: 42% 38% 62% 49% / 45%;
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
}

.g-circle::before {
  content: "";
  position: absolute;
  width: 270px;
  height: 270px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #000;
  z-index: 10;
}

.g-bubbles {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 40px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 100px 100px 0 0;
  background-color: #00ff6f;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

li {
  position: absolute;
  border-radius: 50%;
  background: #00ff6f;
}

li:nth-child(0) {
  left: 56px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  -webkit-animation: moveToTop 3s ease-in-out -0.502s infinite;
          animation: moveToTop 3s ease-in-out -0.502s infinite;
}

li:nth-child(1) {
  left: 31px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;
  -webkit-animation: moveToTop 3s ease-in-out -0.909s infinite;
          animation: moveToTop 3s ease-in-out -0.909s infinite;
}

li:nth-child(2) {
  left: 55px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  -webkit-animation: moveToTop 3s ease-in-out -2.177s infinite;
          animation: moveToTop 3s ease-in-out -2.177s infinite;
}

li:nth-child(3) {
  left: 29px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 29px;
  height: 29px;
  -webkit-animation: moveToTop 3s ease-in-out -1.345s infinite;
          animation: moveToTop 3s ease-in-out -1.345s infinite;
}

li:nth-child(4) {
  left: 46px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  -webkit-animation: moveToTop 3s ease-in-out -2.711s infinite;
          animation: moveToTop 3s ease-in-out -2.711s infinite;
}

li:nth-child(5) {
  left: 45px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;
  -webkit-animation: moveToTop 3s ease-in-out -1.567s infinite;
          animation: moveToTop 3s ease-in-out -1.567s infinite;
}

li:nth-child(6) {
  left: 25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
  -webkit-animation: moveToTop 3s ease-in-out -1.199s infinite;
          animation: moveToTop 3s ease-in-out -1.199s infinite;
}

li:nth-child(7) {
  left: 27px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 41px;
  height: 41px;
  -webkit-animation: moveToTop 3s ease-in-out -1.31s infinite;
          animation: moveToTop 3s ease-in-out -1.31s infinite;
}

li:nth-child(8) {
  left: 39px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  -webkit-animation: moveToTop 3s ease-in-out -1.042s infinite;
          animation: moveToTop 3s ease-in-out -1.042s infinite;
}

li:nth-child(9) {
  left: 54px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  -webkit-animation: moveToTop 3s ease-in-out -1.208s infinite;
          animation: moveToTop 3s ease-in-out -1.208s infinite;
}

li:nth-child(10) {
  left: 25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  -webkit-animation: moveToTop 3s ease-in-out -2.905s infinite;
          animation: moveToTop 3s ease-in-out -2.905s infinite;
}

li:nth-child(11) {
  left: 44px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  -webkit-animation: moveToTop 3s ease-in-out -1.869s infinite;
          animation: moveToTop 3s ease-in-out -1.869s infinite;
}

li:nth-child(12) {
  left: 81px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 41px;
  height: 41px;
  -webkit-animation: moveToTop 3s ease-in-out -1.308s infinite;
          animation: moveToTop 3s ease-in-out -1.308s infinite;
}

li:nth-child(13) {
  left: 43px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  -webkit-animation: moveToTop 3s ease-in-out -1.021s infinite;
          animation: moveToTop 3s ease-in-out -1.021s infinite;
}

li:nth-child(14) {
  left: 17px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  -webkit-animation: moveToTop 3s ease-in-out -1.753s infinite;
          animation: moveToTop 3s ease-in-out -1.753s infinite;
}

li:nth-child(15) {
  left: 85px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  -webkit-animation: moveToTop 3s ease-in-out -0.172s infinite;
          animation: moveToTop 3s ease-in-out -0.172s infinite;
}

@-webkit-keyframes rotate {
  50% {
    border-radius: 45% / 42% 38% 58% 49%;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
            transform: translate(-50%, -50%) rotate(720deg);
  }
}

@keyframes rotate {
  50% {
    border-radius: 45% / 42% 38% 58% 49%;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
            transform: translate(-50%, -50%) rotate(720deg);
  }
}

@-webkit-keyframes moveToTop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: .1;
    -webkit-transform: translate(-50%, -360px);
            transform: translate(-50%, -360px);
  }
}

@keyframes moveToTop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: .1;
    -webkit-transform: translate(-50%, -360px);
            transform: translate(-50%, -360px);
  }
}

@-webkit-keyframes hueRotate {
  100% {
    -webkit-filter: contrast(15) hue-rotate(0);
            filter: contrast(15) hue-rotate(0);
  }
}

@keyframes hueRotate {
  100% {
    -webkit-filter: contrast(15) hue-rotate(0);
            filter: contrast(15) hue-rotate(0);
  }
}
/*# sourceMappingURL=index.css.map */