* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

.neon {
  width: 400px;
  text-align: center;
  color: #cce7f8;
  margin: 80px 0;
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  -webkit-animation: shining 0.1s alternate infinite;
          animation: shining 0.1s alternate infinite;
}

@-webkit-keyframes shining {
  from {
    text-shadow: 0 0 6px rgba(182, 211, 207, 0.9), 0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(15, 115, 223, 0.5), 0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(15, 115, 223, 0.8), 0 0 54px rgba(15, 115, 223, 0.9);
  }
  to {
    text-shadow: 0 0 6px #b6d3cf, 0 0 30px rgba(182, 211, 207, 0.4), 0 0 12px rgba(15, 115, 223, 0.6), 0 0 22px rgba(15, 115, 223, 0.8), 0 0 38px rgba(15, 115, 223, 0.9), 0 0 60px #0f73df;
  }
}

@keyframes shining {
  from {
    text-shadow: 0 0 6px rgba(182, 211, 207, 0.9), 0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(15, 115, 223, 0.5), 0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(15, 115, 223, 0.8), 0 0 54px rgba(15, 115, 223, 0.9);
  }
  to {
    text-shadow: 0 0 6px #b6d3cf, 0 0 30px rgba(182, 211, 207, 0.4), 0 0 12px rgba(15, 115, 223, 0.6), 0 0 22px rgba(15, 115, 223, 0.8), 0 0 38px rgba(15, 115, 223, 0.9), 0 0 60px #0f73df;
  }
}

.rect-front {
  stroke: #00ffaa;
  stroke-width: 2;
}

.rect-back {
  stroke-width: 5;
  -webkit-filter: url(#filter-blur);
          filter: url(#filter-blur);
}

.text-front {
  font-family: YouYuan;
  font-size: 64px;
  font-weight: normal;
  text-transform: uppercase;
  stroke: #ff00aa;
  stroke-width: 2px;
  text-shadow: 0px 0px 20px #ff00aa;
}

.rect-front2 {
  -webkit-animation: rectchange 1s infinite step-end;
          animation: rectchange 1s infinite step-end;
}

.rect-back2 {
  stroke-width: 5;
  -webkit-filter: url(#filter-blur);
          filter: url(#filter-blur);
}

.text-front2 {
  font-family: YouYuan;
  font-size: 64px;
  font-weight: normal;
  text-transform: uppercase;
  fill-opacity: 0.3;
  stroke-width: 2px;
  stroke-dasharray: 50 50;
  -webkit-animation: text-stroke 10s infinite linear;
          animation: text-stroke 10s infinite linear;
}

.text-1 {
  stroke: #3498db;
  text-shadow: 0 0 5px #3498db;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.text-2 {
  stroke: #f39c12;
  text-shadow: 0 0 5px #f39c12;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

@-webkit-keyframes rectchange {
  0% {
    stroke: #f39c12;
    stroke-width: 2;
    stroke-dasharray: 20 10;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke: #3498db;
    stroke-width: 2;
    stroke-dasharray: 20 10;
    stroke-dashoffset: 5%;
  }
  100% {
    stroke: #f39c12;
    stroke-width: 2;
    stroke-dasharray: 20 10;
    stroke-dashoffset: 100%;
  }
}

@keyframes rectchange {
  0% {
    stroke: #f39c12;
    stroke-width: 2;
    stroke-dasharray: 20 10;
    stroke-dashoffset: 0%;
  }
  50% {
    stroke: #3498db;
    stroke-width: 2;
    stroke-dasharray: 20 10;
    stroke-dashoffset: 5%;
  }
  100% {
    stroke: #f39c12;
    stroke-width: 2;
    stroke-dasharray: 20 10;
    stroke-dashoffset: 100%;
  }
}

@-webkit-keyframes text-stroke {
  100% {
    stroke-dashoffset: 500;
  }
}

@keyframes text-stroke {
  100% {
    stroke-dashoffset: 500;
  }
}
/*# sourceMappingURL=index.css.map */