* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

body {
  background: #000;
}

div {
  position: relative;
  width: 800px;
  height: 450px;
  margin: auto;
  background: url("./cyberpunk.jpg") no-repeat;
  background-size: cover;
  -webkit-animation: main-img-hide 16s infinite step-end;
          animation: main-img-hide 16s infinite step-end;
}

div::before,
div::after {
  position: absolute;
  width: 800px;
  height: 450px;
  top: 0;
  left: 0;
  background: inherit;
}

div::after {
  content: "";
  -webkit-animation: glitch-one 16s infinite step-end;
          animation: glitch-one 16s infinite step-end;
}

div::before {
  content: "";
  -webkit-animation: glitch-two 16s infinite 1s step-end;
          animation: glitch-two 16s infinite 1s step-end;
}

@-webkit-keyframes glitch-one {
  10% {
    -webkit-clip-path: inset(187px 0 210px);
            clip-path: inset(187px 0 210px);
    left: 11px;
  }
  10.5% {
    -webkit-clip-path: inset(128px 0 270px);
            clip-path: inset(128px 0 270px);
    left: 63px;
  }
  11% {
    -webkit-clip-path: inset(13px 0 402px);
            clip-path: inset(13px 0 402px);
    left: -93px;
  }
  11.5% {
    -webkit-clip-path: inset(243px 0 183px);
            clip-path: inset(243px 0 183px);
    left: 13px;
  }
  12% {
    -webkit-clip-path: inset(250px 0 164px);
            clip-path: inset(250px 0 164px);
    left: 52px;
  }
  12.5% {
    -webkit-clip-path: inset(338px 0 80px);
            clip-path: inset(338px 0 80px);
    left: -53px;
  }
  13% {
    -webkit-clip-path: inset(285px 0 138px);
            clip-path: inset(285px 0 138px);
    left: 50px;
  }
  13.5% {
    -webkit-clip-path: inset(356px 0 66px);
            clip-path: inset(356px 0 66px);
    left: -45px;
  }
  14% {
    -webkit-clip-path: inset(125px 0 288px);
            clip-path: inset(125px 0 288px);
    left: 96px;
  }
  14.5% {
    -webkit-clip-path: inset(214px 0 193px);
            clip-path: inset(214px 0 193px);
    left: -17px;
  }
  15.5% {
    -webkit-clip-path: inset(10px 0 320px);
            clip-path: inset(10px 0 320px);
    left: -20px;
  }
  16% {
    -webkit-clip-path: inset(10px 0 320px);
            clip-path: inset(10px 0 320px);
    left: -10px;
    opacity: 0;
  }
  45% {
    opacity: 0.5;
    left: -20px;
    -webkit-filter: hue-rotate(90deg) saturate(1.3);
            filter: hue-rotate(90deg) saturate(1.3);
  }
  45.5% {
    left: 0px;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  46% {
    -webkit-clip-path: inset(150px 0 160px);
            clip-path: inset(150px 0 160px);
    left: 15%;
  }
  46.5% {
    -webkit-clip-path: inset(20px 0 200px);
            clip-path: inset(20px 0 200px);
    left: -10%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  47% {
    -webkit-clip-path: inset(240px 0 20px);
            clip-path: inset(240px 0 20px);
    left: -11%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  47.5% {
    -webkit-clip-path: inset(20 0 20px);
            clip-path: inset(20 0 20px);
    left: 13%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  48% {
    -webkit-clip-path: inset(120 0 120px);
            clip-path: inset(120 0 120px);
    left: 15%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  48.5% {
    -webkit-clip-path: inset(260px 0 10px);
            clip-path: inset(260px 0 10px);
    left: -11%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: none;
            filter: none;
  }
  49% {
    -webkit-clip-path: inset(5px 0 350px);
            clip-path: inset(5px 0 350px);
    left: 11%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  49.5% {
    -webkit-clip-path: inset(105px 0 210px);
            clip-path: inset(105px 0 210px);
    left: 0%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-clip-path: inset(175px 0 160px);
            clip-path: inset(175px 0 160px);
    left: -11%;
  }
  50.5% {
    -webkit-clip-path: inset(95px 0 230px);
            clip-path: inset(95px 0 230px);
    left: -14%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  51% {
    -webkit-clip-path: inset(235px 0 12px);
            clip-path: inset(235px 0 12px);
    left: -14%;
  }
  51.5% {
    -webkit-clip-path: inset(350px 0 7px);
            clip-path: inset(350px 0 7px);
    left: -14%;
  }
  52% {
    -webkit-clip-path: inset(320px 0 27px);
            clip-path: inset(320px 0 27px);
    left: -12%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  52.5% {
    -webkit-clip-path: inset(190px 0 127px);
            clip-path: inset(190px 0 127px);
    left: -11%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-filter: hue-rotate(90deg) saturate(1.3);
            filter: hue-rotate(90deg) saturate(1.3);
  }
  54% {
    -webkit-clip-path: inset(20px 0 20px);
            clip-path: inset(20px 0 20px);
    left: 12%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: none;
            filter: none;
  }
  54% {
    background-image: none;
  }
}

@keyframes glitch-one {
  10% {
    -webkit-clip-path: inset(187px 0 210px);
            clip-path: inset(187px 0 210px);
    left: 11px;
  }
  10.5% {
    -webkit-clip-path: inset(128px 0 270px);
            clip-path: inset(128px 0 270px);
    left: 63px;
  }
  11% {
    -webkit-clip-path: inset(13px 0 402px);
            clip-path: inset(13px 0 402px);
    left: -93px;
  }
  11.5% {
    -webkit-clip-path: inset(243px 0 183px);
            clip-path: inset(243px 0 183px);
    left: 13px;
  }
  12% {
    -webkit-clip-path: inset(250px 0 164px);
            clip-path: inset(250px 0 164px);
    left: 52px;
  }
  12.5% {
    -webkit-clip-path: inset(338px 0 80px);
            clip-path: inset(338px 0 80px);
    left: -53px;
  }
  13% {
    -webkit-clip-path: inset(285px 0 138px);
            clip-path: inset(285px 0 138px);
    left: 50px;
  }
  13.5% {
    -webkit-clip-path: inset(356px 0 66px);
            clip-path: inset(356px 0 66px);
    left: -45px;
  }
  14% {
    -webkit-clip-path: inset(125px 0 288px);
            clip-path: inset(125px 0 288px);
    left: 96px;
  }
  14.5% {
    -webkit-clip-path: inset(214px 0 193px);
            clip-path: inset(214px 0 193px);
    left: -17px;
  }
  15.5% {
    -webkit-clip-path: inset(10px 0 320px);
            clip-path: inset(10px 0 320px);
    left: -20px;
  }
  16% {
    -webkit-clip-path: inset(10px 0 320px);
            clip-path: inset(10px 0 320px);
    left: -10px;
    opacity: 0;
  }
  45% {
    opacity: 0.5;
    left: -20px;
    -webkit-filter: hue-rotate(90deg) saturate(1.3);
            filter: hue-rotate(90deg) saturate(1.3);
  }
  45.5% {
    left: 0px;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  46% {
    -webkit-clip-path: inset(150px 0 160px);
            clip-path: inset(150px 0 160px);
    left: 15%;
  }
  46.5% {
    -webkit-clip-path: inset(20px 0 200px);
            clip-path: inset(20px 0 200px);
    left: -10%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  47% {
    -webkit-clip-path: inset(240px 0 20px);
            clip-path: inset(240px 0 20px);
    left: -11%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  47.5% {
    -webkit-clip-path: inset(20 0 20px);
            clip-path: inset(20 0 20px);
    left: 13%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  48% {
    -webkit-clip-path: inset(120 0 120px);
            clip-path: inset(120 0 120px);
    left: 15%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  48.5% {
    -webkit-clip-path: inset(260px 0 10px);
            clip-path: inset(260px 0 10px);
    left: -11%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: none;
            filter: none;
  }
  49% {
    -webkit-clip-path: inset(5px 0 350px);
            clip-path: inset(5px 0 350px);
    left: 11%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  49.5% {
    -webkit-clip-path: inset(105px 0 210px);
            clip-path: inset(105px 0 210px);
    left: 0%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-clip-path: inset(175px 0 160px);
            clip-path: inset(175px 0 160px);
    left: -11%;
  }
  50.5% {
    -webkit-clip-path: inset(95px 0 230px);
            clip-path: inset(95px 0 230px);
    left: -14%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  51% {
    -webkit-clip-path: inset(235px 0 12px);
            clip-path: inset(235px 0 12px);
    left: -14%;
  }
  51.5% {
    -webkit-clip-path: inset(350px 0 7px);
            clip-path: inset(350px 0 7px);
    left: -14%;
  }
  52% {
    -webkit-clip-path: inset(320px 0 27px);
            clip-path: inset(320px 0 27px);
    left: -12%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  52.5% {
    -webkit-clip-path: inset(190px 0 127px);
            clip-path: inset(190px 0 127px);
    left: -11%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-filter: hue-rotate(90deg) saturate(1.3);
            filter: hue-rotate(90deg) saturate(1.3);
  }
  54% {
    -webkit-clip-path: inset(20px 0 20px);
            clip-path: inset(20px 0 20px);
    left: 12%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: none;
            filter: none;
  }
  54% {
    background-image: none;
  }
}

@-webkit-keyframes glitch-two {
  20% {
    -webkit-clip-path: inset(361px 0 47px);
            clip-path: inset(361px 0 47px);
    left: 64px;
  }
  20.5% {
    -webkit-clip-path: inset(233px 0 165px);
            clip-path: inset(233px 0 165px);
    left: 4px;
  }
  21% {
    -webkit-clip-path: inset(273px 0 156px);
            clip-path: inset(273px 0 156px);
    left: -64px;
  }
  21.5% {
    -webkit-clip-path: inset(120px 0 286px);
            clip-path: inset(120px 0 286px);
    left: 14px;
  }
  22% {
    -webkit-clip-path: inset(282px 0 123px);
            clip-path: inset(282px 0 123px);
    left: 58px;
  }
  22.5% {
    -webkit-clip-path: inset(384px 0 34px);
            clip-path: inset(384px 0 34px);
    left: 16px;
  }
  23% {
    -webkit-clip-path: inset(270px 0 159px);
            clip-path: inset(270px 0 159px);
    left: 20px;
  }
  23.5% {
    -webkit-clip-path: inset(370px 0 43px);
            clip-path: inset(370px 0 43px);
    left: -7px;
  }
  24% {
    -webkit-clip-path: inset(338px 0 75px);
            clip-path: inset(338px 0 75px);
    left: -30px;
  }
  24.5% {
    -webkit-clip-path: inset(341px 0 59px);
            clip-path: inset(341px 0 59px);
    left: -75px;
  }
  25.5% {
    -webkit-clip-path: inset(10px 0 320px);
            clip-path: inset(10px 0 320px);
    left: -20px;
  }
  26% {
    -webkit-clip-path: inset(10px 0 320px);
            clip-path: inset(10px 0 320px);
    left: -10px;
    opacity: 0;
  }
  45% {
    opacity: 0.3;
    left: -20px;
    -webkit-filter: hue-rotate(45deg) saturate(1.1);
            filter: hue-rotate(45deg) saturate(1.1);
  }
  45.5% {
    left: 0px;
    -webkit-filter: invert(1.2);
            filter: invert(1.2);
  }
  46% {
    -webkit-clip-path: inset(50px 0 260px);
            clip-path: inset(50px 0 260px);
    left: -12%;
  }
  46.5% {
    -webkit-clip-path: inset(120px 0 100px);
            clip-path: inset(120px 0 100px);
    left: 8%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  47% {
    -webkit-clip-path: inset(40px 0 300px);
            clip-path: inset(40px 0 300px);
    left: 8%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  47.5% {
    -webkit-clip-path: inset(220 0 70px);
            clip-path: inset(220 0 70px);
    left: -9%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: invert(1.1);
            filter: invert(1.1);
  }
  48% {
    -webkit-clip-path: inset(240px 0 120px);
            clip-path: inset(240px 0 120px);
    left: 11%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  48.5% {
    -webkit-clip-path: inset(0px 0 310px);
            clip-path: inset(0px 0 310px);
    left: -12%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: none;
            filter: none;
  }
  49% {
    -webkit-clip-path: inset(255px 0 50px);
            clip-path: inset(255px 0 50px);
    left: 11%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  49.5% {
    -webkit-clip-path: inset(10px 0 240px);
            clip-path: inset(10px 0 240px);
    left: 6%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-clip-path: inset(275px 0 90px);
            clip-path: inset(275px 0 90px);
    left: -12%;
  }
  50.5% {
    -webkit-clip-path: inset(195px 0 90px);
            clip-path: inset(195px 0 90px);
    left: 14%;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  51% {
    -webkit-clip-path: inset(35px 0 282px);
            clip-path: inset(35px 0 282px);
    left: -14%;
  }
  51.5% {
    -webkit-clip-path: inset(350px 0 7px);
            clip-path: inset(350px 0 7px);
    left: 14%;
  }
  52% {
    -webkit-clip-path: inset(20px 0 270px);
            clip-path: inset(20px 0 270px);
    left: -12%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  52.5% {
    -webkit-clip-path: inset(90px 0 227px);
            clip-path: inset(90px 0 227px);
    left: -11%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-filter: hue-rotate(150deg) saturate(1.3);
            filter: hue-rotate(150deg) saturate(1.3);
  }
  54% {
    -webkit-clip-path: inset(220px 0 100px);
            clip-path: inset(220px 0 100px);
    left: 12%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: none;
            filter: none;
  }
  54% {
    background-image: none;
  }
}

@keyframes glitch-two {
  20% {
    -webkit-clip-path: inset(361px 0 47px);
            clip-path: inset(361px 0 47px);
    left: 64px;
  }
  20.5% {
    -webkit-clip-path: inset(233px 0 165px);
            clip-path: inset(233px 0 165px);
    left: 4px;
  }
  21% {
    -webkit-clip-path: inset(273px 0 156px);
            clip-path: inset(273px 0 156px);
    left: -64px;
  }
  21.5% {
    -webkit-clip-path: inset(120px 0 286px);
            clip-path: inset(120px 0 286px);
    left: 14px;
  }
  22% {
    -webkit-clip-path: inset(282px 0 123px);
            clip-path: inset(282px 0 123px);
    left: 58px;
  }
  22.5% {
    -webkit-clip-path: inset(384px 0 34px);
            clip-path: inset(384px 0 34px);
    left: 16px;
  }
  23% {
    -webkit-clip-path: inset(270px 0 159px);
            clip-path: inset(270px 0 159px);
    left: 20px;
  }
  23.5% {
    -webkit-clip-path: inset(370px 0 43px);
            clip-path: inset(370px 0 43px);
    left: -7px;
  }
  24% {
    -webkit-clip-path: inset(338px 0 75px);
            clip-path: inset(338px 0 75px);
    left: -30px;
  }
  24.5% {
    -webkit-clip-path: inset(341px 0 59px);
            clip-path: inset(341px 0 59px);
    left: -75px;
  }
  25.5% {
    -webkit-clip-path: inset(10px 0 320px);
            clip-path: inset(10px 0 320px);
    left: -20px;
  }
  26% {
    -webkit-clip-path: inset(10px 0 320px);
            clip-path: inset(10px 0 320px);
    left: -10px;
    opacity: 0;
  }
  45% {
    opacity: 0.3;
    left: -20px;
    -webkit-filter: hue-rotate(45deg) saturate(1.1);
            filter: hue-rotate(45deg) saturate(1.1);
  }
  45.5% {
    left: 0px;
    -webkit-filter: invert(1.2);
            filter: invert(1.2);
  }
  46% {
    -webkit-clip-path: inset(50px 0 260px);
            clip-path: inset(50px 0 260px);
    left: -12%;
  }
  46.5% {
    -webkit-clip-path: inset(120px 0 100px);
            clip-path: inset(120px 0 100px);
    left: 8%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  47% {
    -webkit-clip-path: inset(40px 0 300px);
            clip-path: inset(40px 0 300px);
    left: 8%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  47.5% {
    -webkit-clip-path: inset(220 0 70px);
            clip-path: inset(220 0 70px);
    left: -9%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: invert(1.1);
            filter: invert(1.1);
  }
  48% {
    -webkit-clip-path: inset(240px 0 120px);
            clip-path: inset(240px 0 120px);
    left: 11%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  48.5% {
    -webkit-clip-path: inset(0px 0 310px);
            clip-path: inset(0px 0 310px);
    left: -12%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: none;
            filter: none;
  }
  49% {
    -webkit-clip-path: inset(255px 0 50px);
            clip-path: inset(255px 0 50px);
    left: 11%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  49.5% {
    -webkit-clip-path: inset(10px 0 240px);
            clip-path: inset(10px 0 240px);
    left: 6%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-clip-path: inset(275px 0 90px);
            clip-path: inset(275px 0 90px);
    left: -12%;
  }
  50.5% {
    -webkit-clip-path: inset(195px 0 90px);
            clip-path: inset(195px 0 90px);
    left: 14%;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  51% {
    -webkit-clip-path: inset(35px 0 282px);
            clip-path: inset(35px 0 282px);
    left: -14%;
  }
  51.5% {
    -webkit-clip-path: inset(350px 0 7px);
            clip-path: inset(350px 0 7px);
    left: 14%;
  }
  52% {
    -webkit-clip-path: inset(20px 0 270px);
            clip-path: inset(20px 0 270px);
    left: -12%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  52.5% {
    -webkit-clip-path: inset(90px 0 227px);
            clip-path: inset(90px 0 227px);
    left: -11%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-filter: hue-rotate(150deg) saturate(1.3);
            filter: hue-rotate(150deg) saturate(1.3);
  }
  54% {
    -webkit-clip-path: inset(220px 0 100px);
            clip-path: inset(220px 0 100px);
    left: 12%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: none;
            filter: none;
  }
  54% {
    background-image: none;
  }
}

@-webkit-keyframes main-img-hide {
  5% {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  5.2% {
    -webkit-filter: none;
            filter: none;
  }
  10% {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  11% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
  45% {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  46% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
  53.5% {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  54% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
  54.5% {
    opacity: 0.5;
    -webkit-filter: hue-rotate(30deg);
            filter: hue-rotate(30deg);
  }
  55% {
    -webkit-filter: none;
            filter: none;
  }
  55.5% {
    background-image: none;
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
  56% {
    background-image: url("./cyberpunk.jpg");
    opacity: 0.5;
  }
  56.5% {
    background-image: none;
  }
  57% {
    background-image: url("./cyberpunk.jpg");
    opacity: 0.8;
  }
  57.5% {
    opacity: 0.3;
  }
  58% {
    background-image: none;
  }
}

@keyframes main-img-hide {
  5% {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  5.2% {
    -webkit-filter: none;
            filter: none;
  }
  10% {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  11% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
  45% {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  46% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
  53.5% {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  54% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
  54.5% {
    opacity: 0.5;
    -webkit-filter: hue-rotate(30deg);
            filter: hue-rotate(30deg);
  }
  55% {
    -webkit-filter: none;
            filter: none;
  }
  55.5% {
    background-image: none;
    -webkit-filter: none;
            filter: none;
    opacity: 1;
  }
  56% {
    background-image: url("./cyberpunk.jpg");
    opacity: 0.5;
  }
  56.5% {
    background-image: none;
  }
  57% {
    background-image: url("./cyberpunk.jpg");
    opacity: 0.8;
  }
  57.5% {
    opacity: 0.3;
  }
  58% {
    background-image: none;
  }
}
/*# sourceMappingURL=index.css.map */